header img{
    width: 150px;
    margin-top: 10px;
    

}
nav ul li{
    margin-top: 20px;
    margin-left: 50px;       
}

nav ul li a{ 
    color: #000;
    font-weight: 600;
    font-size: 1.1rem;
    
}
nav ul li a:hover{
    color: orange;
}

hr{
    width: 100%;
    margin-top: -3px; 
    border: #000 solid 1px;
}

