main img{
    margin-bottom: 10px; 
    
}
main p{
    text-align: justify;
    margin-bottom: 20px;
}

#diferente{
    text-align: center;
}

/* ------------HTML pagina-------------- */

.mb-html{
    margin-bottom: 250px;
}

ul li {
    list-style: none;
    margin-left: -20px;
}